<!--<mat-toolbar style="background-color:silver">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span style="margin-left: 20px"><img (click)="redirect()" src="./assets/logo-SAAD.jpg"></span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" (click)="profile()" aria-hidden="false" aria-label="Example person icon">person</mat-icon>
    <span style="margin-left:10px"><a href="#" (click)="profile()" style="color:black">Profile{{profileName}}</a></span>
  </mat-toolbar-row>
</mat-toolbar>-->
